<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" th:replace="base2::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Contacts</title>
</head>
<body>
<section>
	<div class="card mr-3 ml-3">
	<div class="card-body">
	<h1 class="text-center">Your Contacts</h1>
	
	<!-- search -->
	<div class="search-container my-4">
	<input onkeyup="search()" type="text" id="search-input" class="form-control" placeholder="Search your Contacts" />
	<div class="search-result">
	  <!-- serach result goes here -->
	  <h2>result</h2>
	</div>
	</div>
	
				<div class="table-responsive">
				<table class="table table-hover">
			  <thead class="thead-light">
			    <tr>
			      <th scope="col">#ID</th>
			      <th scope="col">Name</th>
			      <th scope="col">Email</th>
			      <th scope="col">Phone</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="c:${contacts}">
			      <th scope="row" th:text="${'SCM2021'+c.cId}">1</th>
			      <td><img class="my_profile_pic" th:src="@{'/images/'+${c.image}}" alt="" /><span  th:text="' '+${c.name}"></span></td>
			      <td ><a th:href="@{'/user/'+${c.cId}+'/contact'}"><span th:text="${c.email}"></span></a></td>
			      <td th:text="${c.phone}"></td>
			      <td>
			      <a th:href="@{'/user/delete/' + ${c.cId}}" class="btn btn-danger btn-small">Delete</a>
			      
			      <form th:action="@{'/user/update-contact/'+${c.cId}}" class="mt-2" method="post">
			      <button type="submit" class="btn btn-small btn-primary">Update</button>
			      </form>
			      
			      </td>
			    </tr>
			    
			  </tbody>
			</table>
	
				</div>
				
		<nav aria-label="Page navigation example">
		  <ul class="pagination">
		    <li class="page-item"  th:if="${currentpage != 0}"><a class="page-link" th:href="@{'/user/show-contacts/'+${currentpage-1}}">Previous</a></li>
		    <li th:classappend="${currentpage==i-1?'active':''}" th:each="i :${#numbers.sequence(1,totalpages)}" class="page-item"><a class="page-link" th:href="@{'/user/show-contacts/'+${i-1}}"><span th:text="${i}"></span></a></li>
		    <li class="page-item" th:if="${currentpage+1 != totalpages}"><a class="page-link" th:href="@{'/user/show-contacts/'+${currentpage+1}}">Next</a></li>
		  </ul>
		</nav>
	
	</div>
	</div>
	
	
<script>
$(document).ready(()=>{
	$(".item").removeClass("active");
	$("#view-link").addClass("active");
});

</script>
</section>

</body>
</html>